.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

h1 {
  font-size: 90px !important;
  margin-bottom: 0px !important;
}

.bar {
  margin-bottom: 10px
}
